<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <style>
        .completed .task-name{
            text-decoration: line-through;
        }
        .action-link {
            margin-left: 10px;
            color: Black;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <h1>To-Do list</h1>
    <form action="/add" method="POST">
        <input type="text" name="content" placeholder="Enter task name">
        <button type="submit">Add Task</button>
    </form>
    {%if tasks%}
    <h3>Tasks</h3>

{% endif%}
    <ul>
        {% for task in tasks %}
            <li class="{% if task['completed'] %}completed{% endif %}">

                <span class='task-name'>{{ task['content'] }}</span>
                {% if not task['completed'] %}
                    <a class="action-link" href="/complete/{{ task['id'] }}"><b>Complete</b></a>
                {% endif %}
                <a class="action-link" href="/delete/{{ task['id'] }}"><b>Delete</b></a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
