<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculation Result</title>
</head>
<body>
    <center>
        <p>
            <br><br><br>
            <h3>Calculation Result</h3><br><br>
    First Number :  <b>{{num1}}</b><br><br>
    Second Number : <b> {{num2}}</b> <br><br>
    Operation :  <b>{{operator}} </b><br><br>
    Result : <b>{{result}}</b>
    </p>
    <br>
    <a href="/">Back to home</a>
    </center>

</body>
</html>