<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <center>
        
        {% with flashes =  get_flashed_messages()%}
        {%if flashes %}
        
        {% for i in flashes %}
        <p>{{i}}</p>
        {% endfor %}
            
        
        {% endif %}
        {% endwith %}
            
    
            
    <h1>Welcome {{name}}</h1>
    <h3>First Flask App</h3>
    <a href="/logout">logout</a>
    </center>
</body>
</html>