<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <center>
        
        {% with flashes = get_flashed_messages() %}
            
            {% if flashes %}

            
            {% for i in flashes  %}
                <p>{{i}}</p>
            {% endfor %}
                
                
            {% endif %}
                
        {% endwith %}
            
    <form action="/loginverify" method="post">
        <label>Username </label><input type="text" name="username" autocomplete="off" placeholder="Enter Username" id="username"/><br><br>
        <label>Password </label><input type="password" name="password" autocomplete="off" placeholder="Enter Password" id="password"/><br><br>
        <button type="submit">Login</button>
    </form>
    </center>
</body>
</html>