<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <center><h1 style="color: aqua; font-family: fantasy;">:: Dashboard ::</h1></center>
        <p style="text-align: right;"><a href="/logout">Log out</a></p>
    </div>

    {% with messages = get_flashed_messages() %}
    
    {% if messages %}

    <ul>
        {% for message in messages  %}
            <li style="font-family: sans-serif;">{{message}} </li>
        {% endfor %}
    </ul>
    
    {% endif %}

    {% endwith %}


    <h2 style="color: chocolate;">Helloooo {{username}}!!!! </h2>
    <h4 style="color: chocolate;">welcome to Dashboard</h4>


</body>
</html>